<!-- ---
---
 bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-sky-400 to-blue-800 
bg-blue-400
-->
<!--
<div
  class="text-muted text-xs bg-amber-300 dark: dark:bg-amber-300 dark:border-b dark:border-slate-200 dark:text-slate-800 hidden md:block overflow-hidden px-2  relative text-ellipsis whitespace-nowrap"
>
  <span class=" text-red-800 dark:bg-amber-100 bg-white/100 dark:text-red-800  font-semibold px-1 py-0.5  text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block">NEW</span>
  <a href="https://www.youtube.com/" target="_arthro" class="text-muted hover:underline dark:text-slate-800 font-medium"
    >ArthroSurgeon's New Interview is here! »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="float-right rtl:float-left"
    title="If you like AstroWind, give us a star."
    href="https://github.com/onwidget/astrowind"
  >
    <img
      src="https://img.shields.io/github/stars/onwidget/astrowind.svg?style=social&label=Stars&maxAge=86400"
      alt="Follow @onWidget"
      width="84"
      height="20"
    />
  </a>

</div> -->
